@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap'); /*Fonte para títulos */
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Orbitron:wght@400..900&display=swap'); /*Fonte para subtítulos */
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap'); /*Fonte para textos */

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;

    text-decoration: none;
}

:root {
    --branco: #f2f3f5;
    --verde-limao: #E9FC87;
    --preto: #141414;
    --verde2: #c6e7a3;
}

body {
    background-color: var(--verde2);

    display: grid;
    grid-template-columns: minmax(14rem, 30%) 1fr;
}

/* VIEW NO CELULAR */

@media only screen and (max-width: 923px) {
    header {
        position: fixed;

        display: flex;
        align-items: center;
        justify-content: center;

        margin-left: 30px;

        border-bottom: solid var(--branco) 2px;

        #logo {
            font-family: "Orbitron", sans-serif;
            color: var(--verde-limao);
            font-size: 16px;
        }
    }

    main {
    height: calc(100vh 330px);

    .raincode {
        display: inline-flex;

        margin-left: 80px;

        gap: 10px;

        transform: rotate(-90deg);
    }

    .raincode_txt1, .raincode_txt2, .raincode_txt3 {
        font-family: "Orbitron", sans-serif;
        color: var(--verde-limao);
        font-size: 8px;
    }

    .btn_noticias {
        font-family: "Orbitron", sans-serif;
        color: var(--branco);
        font-size: 20px;
        border: 5px var(--verde-limao);
    }
    }

    aside {
    flex: 1 1 100vw;
    height: 100px;
    }

    .link_manzanos_img {
        position: absolute;

        width: 40px;
        height: 40px;

        margin-left: 10px;
        margin-top: 50px;
    }

        /* .link_manzanos_img:hover {
        background: url(img/icons/icon_manzanos_animated.gif) no-repeat;
    } */
}